# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[package]
name = "vmbus_serial_guest"
edition.workspace = true
rust-version.workspace = true

[dependencies]
inspect.workspace = true
inspect_counters.workspace = true
serial_core.workspace = true
vmbus_async.workspace = true
vmbus_serial_protocol.workspace = true
vm_resource.workspace = true

guid.workspace = true
mesh.workspace = true

futures.workspace = true
thiserror.workspace = true
tracing.workspace = true
zerocopy.workspace = true
[target.'cfg(unix)'.dependencies]
anyhow.workspace = true
async-trait.workspace = true
pal_async.workspace = true
vmbus_user_channel.workspace = true

[dev-dependencies]
unix_socket.workspace = true
pal_async.workspace = true
test_with_tracing.workspace = true
vmbus_async.workspace = true
vmbus_serial_host.workspace = true

[lints]
workspace = true
