# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

file /usr/bin/perf    ${OPENHCL_KERNEL_PATH}/build/native/bin/${OPENHCL_KERNEL_ARCH}/tools/perf/bin/perf  0755 0 0
file /usr/bin/trace    ${OPENHCL_KERNEL_PATH}/build/native/bin/${OPENHCL_KERNEL_ARCH}/tools/perf/bin/trace  0755 0 0
