1 VERSIONINFO
FILEVERSION    UH_VERSION
PRODUCTVERSION UH_VERSION
FILEOS 0x10004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Microsoft VM HCL IGVM Firmware Resources"
		VALUE "FileVersion", UH_VERSION_STR
		VALUE "InternalName", UH_DLL_NAME
		VALUE "LegalCopyright", "(C) Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", UH_DLL_NAME
		VALUE "ProductName", "Microsoft VM HCL"
		VALUE "ProductVersion", UH_VERSION_STR
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

2 24 "manifest.xml"

1 VMFW UH_IGVM_PATH

