# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[package]
name = "uefi_nvram_storage"
edition.workspace = true
rust-version.workspace = true

[features]
default = []

inspect = ["dep:inspect", "uefi_specs/inspect"]

[dependencies]
guid.workspace = true
inspect = { workspace = true, optional = true }
ucs2.workspace = true
uefi_specs.workspace = true

async-trait.workspace = true
thiserror.workspace = true
wchar.workspace = true
zerocopy.workspace = true
[dev-dependencies]
pal_async.workspace = true

[lints]
workspace = true
