# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[package]
name = "fuse"
edition.workspace = true
rust-version.workspace = true

[features]
# Disable tests that do not pass in the CI environment.
ci = []

[dependencies]
lx.workspace = true

parking_lot.workspace = true
thiserror.workspace = true
tracing.workspace = true
zerocopy.workspace = true
[target.'cfg(unix)'.dependencies]
libc.workspace = true

[target.'cfg(unix)'.dev-dependencies]
tempfile.workspace = true

test_with_tracing.workspace = true

[lints]
workspace = true
